include "/etc/bind/keys/dns-xfr.key";

{% if dns_bind_server_role == "primary" %}
zone "{{ dns_bind_canonical_zone }}" {
    type primary;
    file "/etc/bind/zones/db.int.romashlashes.by";
    allow-transfer { key "{{ dns_bind_tsig_key_name }}"; };
    also-notify {
        {{ dns_bind_secondary_ip }} key "{{ dns_bind_tsig_key_name }}";
    };
};

zone "{{ dns_bind_reverse_zone }}" {
    type primary;
    file "/etc/bind/zones/db.0.168.192";
    allow-transfer { key "{{ dns_bind_tsig_key_name }}"; };
    also-notify {
        {{ dns_bind_secondary_ip }} key "{{ dns_bind_tsig_key_name }}";
    };
};
{% else %}
zone "{{ dns_bind_canonical_zone }}" {
    type secondary;
    primaries {
        {{ dns_bind_primary_ip }} key "{{ dns_bind_tsig_key_name }}";
    };
    file "/var/cache/bind/db.int.romashlashes.by";
};

zone "{{ dns_bind_reverse_zone }}" {
    type secondary;
    primaries {
        {{ dns_bind_primary_ip }} key "{{ dns_bind_tsig_key_name }}";
    };
    file "/var/cache/bind/db.0.168.192";
};
{% endif %}
