pool 0.debian.pool.ntp.org iburst
pool 1.debian.pool.ntp.org iburst
pool 2.debian.pool.ntp.org iburst
pool 3.debian.pool.ntp.org iburst

driftfile /var/lib/chrony/chrony.drift

makestep 1.0 3
rtcsync

logdir /var/log/chrony