server {
    listen 80;
    listen [::]:80;

    server_name {{ terraform_mirror_server_names | join(' ') }};

    location = /healthz {
        access_log off;
        default_type text/plain;
        return 200 "ok\n";
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ terraform_mirror_server_names | join(' ') }};

    ssl_certificate     {{ terraform_mirror_tls_cert_dest }};
    ssl_certificate_key {{ terraform_mirror_tls_key_dest }};

    ssl_protocols TLSv1.2 TLSv1.3;

    root /var/www/terraform-mirror;

    location = /healthz {
        access_log off;
        default_type text/plain;
        return 200 "ok\n";
    }

    location /providers/ {
        autoindex off;
        try_files $uri =404;

        types {
            application/json json;
            application/zip zip;
        }

        default_type application/octet-stream;
    }
}
